.wrapper {
    margin: 0 auto;
    width: 960px;
    background-color: #d3d3d3; }

.fixed_block {position: fixed;
              left: 155px; right: 0; top: 105px;
              z-index: 2;
              width: 960px;}

/*body {
    background-image: url("../images/hrvatska.jpg");
    background-size: contain;
}*/

header {
    height: 100px;
    border: indigo solid;
    box-shadow: 0 0 25px blue;
}

/*MENU*/
.menu li {
    display:inline-block;
    padding: 5px;
    background: deepskyblue;
    list-style-type: none;
    position: relative;
    }

.menu a { display: block; color: black; text-decoration: none;}

.submenu {-webkit-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform: scaleY(0);}

.submenu {transform-origin: 0 0;}
.submenu {position: absolute;
          top: 100%;
          left: 0;
          width: 220%;
          background: transparent;
          z-index: 10;}


.menu li:hover .submenu {-webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1);}
.menu li:hover {background: white;}
.menu li:active {background: blue;}

ul {position: absolute;}

/*End of MENU*/

/*TEXT*/

.text_welcome {
    margin-top: 50px;
    font-style: oblique;
    text-align: center;
}

.big_text {
    columns: 3;
    text-align: justify;
    position: relative;
    top:-430px;
    }

.big_text1 {
    margin-top: -5px;
    columns: 1;
    text-align: justify;
}

.big_text3 {
    columns: 2;
    font-style: inherit;
    text-align: left;
    position: relative;
    top:-430px
}


p{font-style: italic;}

.foot-text{margin-left: 10px;}

/*End of Text*/

.map_block {
    height: 630px;
    margin: 5px;
    border: indigo solid;
    background-image: url("../images/croatia_map.jpg");
    background-size: cover;
    }

.info_block1 {
    height: 200px;
    margin: 5px;
    border: indigo solid;
    color: white;
    background-image: url("../images/pula.jpg");
    background-size: cover;
    }

.info_block4 {
    height: 200px;
    margin: 5px;
    border: indigo solid;
    background-image: url("../images/zagreb.jpg");
    background-size: cover;
    position: relative;
    top:-430px;
   }

.info_block5 {
    height: 200px;
    margin: 5px;
    border: indigo solid;
    color: white;
    background-image: url("../images/plitvitze.jpg");
    background-size: cover;
    position: relative;
    top:-430px;
}

.info_block2 {
    height: 200px;
    margin: 5px;
    border: indigo solid;
    background-image: url("../images/dubrovnik-4.jpg");
    background-size: cover;
    position: relative;
    top:-430px
}

.info_block3 {
    height: 200px;
    margin: 5px;
    border: indigo solid;
    background-image: url("../images/zadar.jpg");
    background-size: cover;
    position: relative;
    top:-430px}

.info_block6 {
    height: 200px;
    margin: 5px;
    border: indigo solid;
    color: white;
    background-image: url("../images/split.JPEG");
    background-size: cover;
    position: relative;
    top:-430px}



footer {
    height: 55px;
    border: indigo solid;
    box-shadow: 0 0 25px blue;
    position: relative;
    top:-430px;
}